@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Tac+One&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap+family=Honk&display=swap');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.title {
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */

.regular {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
